.jumbotron {
    padding-top: 6rem;
    background-color: gray;
}
p {
    color: black;
}
body {
    font-family: 'Hachi Maru Pop', cursive;
    background-color: gray;
}
footer {
    background-color: #0099ff;
    padding-bottom: 10px;
}