.jumbotron {
    padding-top: 6rem;
    background-color: gray;
}
p {
    color: black;
}
body {
    background-color: gray;
    font-family: 'Single Day', cursive;
}
footer {
    background-color: #0099ff;
    padding-bottom: 10px;
}