
body {
    background-image: url('gambarcover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-top: 20rem;
}
.logo {
    width: 50px;
    border-radius: 50px;
}